<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>miniQzone</title>

    <link href="../static/css/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/css/buttons.css">
    <link rel="stylesheet" href="../static/css/qzone.css">
  </head>
  <body>
  <img src="../static/picture/home.jpg" id="back">
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#" id="brand">miniQzone</a>
    </div>
    <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
    <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
    <span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search" id="search">
        </div>
        <a href=""><span class="glyphicon glyphicon-search" aria-hidden="true"></span></a>
      </form>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
	<img src="../static/picture/image.jpg" id="image">
	<h1 id="user">huieric</h1>
	<a href="" class="button button-glow button-border button-rounded button-primary" onmouseover="change1(this)" onmouseout="change2(this)">Add Friend</a>
	<div class="dropdown">
	  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
	    Message
	    <span class="caret"></span>
	    <span class="glyphicon glyphicon-cog"></span>
	  </button>
	  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
	    <li><a href="#">Friends</a></li>
	    <li><a href="#">Name Card</a></li>
	  </ul>
	</div>
    <script src="http://cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
    <link href="http://cdn.bootcss.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="../static/js/js/bootstrap.min.js"></script>
    <script type="text/javascript">
    	function change1(x)
    	{
    		x.color="white";
    	}
    	function change2(x)
    	{
    		x.color="black";
    	}
    </script>
  </body>
</html>
